@using eMotive.Models.Objects.Users
@model UserWithRoles
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section Crumbs
{
    			<ul class="breadcrumb">
			        <li>
			            <a href="@Url.Action("Index","Home", new {area = "Admin"})">Home</a> <span class="divider">/</span>
			        </li>
                <li>
					<a href="@Url.Action("Index","Users", new {area = "Admin"})">Users</a> <span class="divider">/</span>
				</li>
				<li class="active">
					Create Admin
				</li>
			</ul>
}
<div class="page-header">
    <h2>
        Create Admin
    </h2>
</div>
@Html.Partial("_modelStateError")
@using (Html.BeginForm("CreateAdmin", "Users", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
{
@Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.SelectedRole)
    <div class="control-group">
        <label class="control-label" for="Username">Username</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Forename">Forename</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Forename, new { placeholder = "Forename" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Surname">Surname</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Surname, new { placeholder = "Surname" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Email">Email</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.Enabled)
                Enabled
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-info">Save</button>
            <a href="@Url.Action("Index")" class="btn">Cancel</a>
        </div>
    </div>

}